<div ng-controller="festivaliCtrl">

<div class="page-header">
		<h1>Festivali</h1>
	</div>

<form>
		<div class="form-group">
			<label for="naziv">Naziv</label>
			<input class="form-control" id="naziv" placeholder="naziv" ng-model="novFestival.naziv">
		</div>
		<div class="form-group">
			<label for="organizator">Organizator</label>
			<input class="form-control" id="organizator" placeholder="Organizator" ng-model="novFestival.organizator">
		</div>
		<div class="form-group">
			<label for="datumPocetka">Datum Pocetka</label>
			<input class="form-control" id="datumPocetka" placeholder="datum pocetka" ng-model="novFestival.datumPocetka">
		</div>
		<div class="form-group">
			<label for="cenaKarte">Cena karte</label>
			<input class="form-control" id="cenaKarte" placeholder="cena karte" ng-model="novFestival.cenaKarte">
		</div>
		
		<div class="form-group">
			<label for="kolicinaKarata">Kolicina karata</label>
			<input class="form-control" id="kolicinaKarata" placeholder="kolicina" ng-model="novFestival.kolicinaNaStanju">
		</div>
		<div class="form-group">
			<label for="mesto">Mesto</label>
			<select class="form-control" id="mesto" ng-model="novFestival.mestoId">
				<option ng-repeat="ma in mesta" value="{{ma.id}}">
					{{ma.naziv}}
				</option>
			</select>
		</div>
		<button class="btn btn-primary" ng-click="dodaj()">Dodaj</button>
	
	</form>

	<form>
	<div class="form-group">
			<label for="fnaziv">Naziv</label>
			<input class="form-control" id="fnaziv" ng-model="pretraga.naziv">
		</div>
	<div class="form-group">
			<label for="max">Maksimalna cena karte</label>
			<input class="form-control" id="max"  ng-model="pretraga.maxCenaKarte">
		</div>
	<div class="form-group">
			<label for="pmesto">Mesto</label>
			<select class="form-control" id="pmesto" ng-model="pretraga.mestoId">
				<option ng-repeat="ma in mesta" value="{{ma.id}}">
					{{ma.naziv}}
				</option>
			</select>
		</div>
	
	
	
	<button class="btn btn-primary" ng-click="">Filtriraj</button>
	
	
	
	</form>
<div class="btn-group" style="margin-left:80%">
		<button ng-disabled="pageNum == 0" ng-click="go(-1)" class="btn btn-primary">Prethodna</button>
		<button ng-disabled="pageNum == totalPages - 1" ng-click="go(1)" class="btn btn-primary">Sledeća</button>
	</div>
	<table class="table table-bordered table-striped">
		<thead>
			<tr>
				<th style="border:none">Naziv</th>
				<th style="border:none">Organizator</th>
				<th style="border:none">Mesto</th>
				<th style="border:none">Cena karte</th>
				<th style="border:none">Kolicina karata</th>
				<th style="border:none">Datum Pocetka</th>
	     	</tr>
		</thead>
		<tbody>
			<tr ng-repeat="f in festivali">
				<td style="border:none">{{f.naziv}}</td>
				<td style="border:none">{{f.organizator}}</td>
				<td style="border:none">{{f.mestoNaziv}}</td>
				<td style="border:none">{{f.cenaKarte}}</td>
				<td style="border:none">{{f.kolicinaNaStanju}}</td>
				<td style="border:none">{{f.datumPocetka}}</td>
				<td style="border:none"><button class="btn btn-danger" ng-click="delete(f.id)">Obrisi</button></td>
				<td style="border:none"><button class="btn btn-warning" ng-click="goToEdit(f.id)">Izmeni</button></td>
				<td style="border:none"><button class="btn btn-primary" ng-click="kupi(f.id)">Kupi</button></td>
			</tr>
		</tbody>
	</table>



</div>





















</div>